.ant-tag-success {
  color: #036666;
  border-color: #036666;
  background: #f3fefa;
}

.ant-tag-error {
  color: #d64254;
  background: #fff3f5;
  border-color: #d64254;
}

.ant-tag-error {
  color: #d64254;
  background: #fff3f5;
  border-color: #d64254;
}

.ant-tag-warn {
  color: #f1c40f;
  background: #fff3f5;
  border-color: #f1c40f;
}